<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    Gnose
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="tipo">Tipo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="linguagem">Linguagem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="cognicao">Cognição</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="categoria">Categoria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="camada">Camada</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<br><br>

<section>
  <div class="menu">
    Menu
  </div>
</section>

<section>
  <div id="conteudo" class="container">
    <router-outlet></router-outlet>
  </div>
</section>

<br><br>
<footer>
  <div class="navbar-light bg-light footer">
    @Copright<br>
  </div>
</footer>
